body{
    padding: 0;
    background-color:bisque;
    margin: 0;
}
.div5{
    display: flex;
    gap: 10px;
}
.html{
    display: flex;
    flex-direction: column;
    border-right-width: 1px solid black;
    background-color: aqua;
    flex: 1;
    border-radius: 10px;
    margin-right: 10;
}
h1 ,h2{
    text-align: center;

}
.div1{
    display: flex;
    flex-direction: column;
}
.div4{
    display: flex;
    column-gap: 10px;

}
input ,select{
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    width: 300px;
}
.button{
    display: flex;
    color: blue;
    /* white-space: 40px; */

}
.reset{
    color: blue;
}
button{
    display: flex;
    margin-left: 200px;
    color: blue;
}
.submit{
    /* background-color: blue; */
    color: white;
}
